@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Vladislav Kulizhenko - fullstack developer<br />
    Daniil Mukha - frontend developer<br />
    Vadim Popov - business analyst, database engineer, QA<br />
    Andrei Shkrob - backend developer, database engineer<br />
</address>
